.input-group {
    margin: 15px 0;
}

#standingsTable, #playerList td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

#gamesTable td {
    vertical-align: middle;!important;
}



#playerList td:first-of-type{
    height: 200px;
    width: 250px;
}

.chartContainer{
    width:250px !important;
}

#backToIndexBtn{
    margin:10px;
}

.teamIcon{
    width:35px;
}


